/*http://brand.jhu.edu/color/*/

.sidebar {
  color: #FFF;
  position: fixed;
  width: 220px;
  white-space: nowrap;
  overflow: visible;
}

.main-header {
  position: fixed;
  width:100%;
}
.content {
  padding-top: 60px;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

/* FOR THE MAIN PAGE HEADER*/

/* logo */
.skin-blue .main-header .logo {
background-color: #4d6ce0;
}
                                          
/* logo when hovered */
.skin-blue .main-header .logo:hover {
background-color: #4d6ce0;
}
                                          
/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #4d6ce0;
}    


/*FOR THE DASHBOARD BOXES*/
.box-header {
  color:#4d6ce0;
  background:#4d6ce0
}

.box-title {
  color:#FF9E1B;
  background:#4d6ce0;
  font-weight: bold;
}

.box.box-solid.box-primary{
  border-bottom-color:#4d6ce0;
  border-left-color:#4d6ce0;
  border-right-color:#4d6ce0;
  border-top-color:#4d6ce0;
}

