/*http://brand.jhu.edu/color/*/

.sidebar {
  color: #FFF;
  position: fixed;
  width: 220px;
  white-space: nowrap;
  overflow: visible;
}

.main-header {
  position: fixed;
  width:100%;
}

.content {
  padding-top: 60px;
}

.main-header .logo {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

/* FOR THE MAIN PAGE HEADER*/

/* logo */
.skin-blue .main-header .logo {
background-color: #005eb8;
}
                                          
/* logo when hovered */
.skin-blue .main-header .logo:hover {
background-color: #005eb8;
}
                                          
/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #005eb8;
}    


/*FOR THE DASHBOARD BOXES*/
.box-header {
  color:#005eb8;
  background:#005eb8
}

.box-title {
  color:#FFCD00;
  background:#005eb8;
  font-weight: bold;
}

.box.box-solid.box-primary{
  border-bottom-color:#005eb8;
  border-left-color:#005eb8;
  border-right-color:#005eb8;
  border-top-color:#005eb8;
}

